<% include ../partials/header %>


<h1>Index Page</h1>
<div>
    <a href="/campgrounds/new">New Camp</a>
</div>


<% campgrounds.forEach(function(campground) { %>
    <p><%=  campground.name%></p>
    <img src="<%= campground.image %>">
    <p><%= campground.description %></p>
    <a href="/campgrounds/<%= campground._id %>">Show Info</a>
<% })  %>



<% include ../partials/footer %>